@page
@model Proyecto_Programacion.Pages.Usuarios.EditarModel
@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Usuario.Nombre" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tipo</label>
        <input asp-for="Usuario.Tipo" type="text"class="form-control" />
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input asp-for="Usuario.Correo" type="email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="/Usuarios" class="btn btn-secondary">Cancelar</a>
</form>