@page "{id:int}"
@model Proyecto_Programacion.Pages.Laboratorios.EditarModel

@{
    ViewData["Title"] = "Editar Laboratorio";
}

<h2>Editar Laboratorio</h2>

<form method="post">
    <!-- Id oculto para que se envíe en el POST -->
    <input type="hidden" asp-for="Laboratorio.Id" />

    <div class="form-group">
        <label asp-for="Laboratorio.Nombre"></label>
        <input asp-for="Laboratorio.Nombre" class="form-control" />
        <span asp-validation-for="Laboratorio.Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Laboratorio.Responsable"></label>
        <input asp-for="Laboratorio.Responsable" class="form-control" />
        <span asp-validation-for="Laboratorio.Responsable" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Laboratorio.Capacidad"></label>
        <input asp-for="Laboratorio.Capacidad" class="form-control" />
        <span asp-validation-for="Laboratorio.Capacidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-page="/Laboratorios/Index" class="btn btn-secondary">Cancelar</a>
</form>
