@page
@model Proyecto_Programacion.Pages.Laboratorios.IndexModel
@{
    ViewData["Title"] = "Laboratorios";
}

<h2 id="--hero-a">Lista de Laboratorios</h2>

<a href="/Laboratorios/Crear" class="btn btn-primary mb-3">Crear Laboratorio</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.ListaLaboratorios)
        {
            <tr>
                <td>@l.Nombre</td>
                <td>@l.Capacidad</td>
                <td>@l.Responsable</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Laboratorios/Editar?id=@l.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Laboratorios/Eliminar?id=@l.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>