@page
@model Proyecto_Programacion.Pages.Laboratorios.IndexModel
@{
    ViewData["Title"] = "Laboratorios";
}

<h2>Lista de Laboratorios</h2>

<a href="/Laboratorios/Crear" class="btn btn-primary mb-3">Crear Laboratorio</a>
<a asp-page="/Index" class="btn btn-primary mb-3">Volver</a>


<table class="table table-striped">
    <thead class="TexPrincipal">
        <tr>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.ListaLaboratorios)
        {
            <tr>
                <td class=TexPrincipal>@l.Nombre</td>
                <td class="TexPrincipal">@l.Capacidad</td>
                <td class="TexPrincipal">@l.Responsable</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Laboratorios/Editar/@l.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Laboratorios/Eliminar/@l.Id">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>